CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
CPackConfig.cmake
CPackSourceConfig.cmake
/include/LD41.hpp
/LD41
/LD41-*
/_CPack_Packages
vgcore.*
/log.txt
